<% layout("layouts/boilerplate") %>
        <% if(allListings && allListings.length === 0) { %>
            <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
                <h6 class="alert-heading">No listings found!</h6>
                <p>Try a different search or category.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <div id="filters" class="cols-12 cols-md-6 cols-sm-1">
            <div class="filter" data-category="trending">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter" data-category="rooms">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter" data-category="iconic-cities">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter" data-category="mountains">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter" data-category="castles">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter" data-category="amazing-pools">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>
            <div class="filter" data-category="camping">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter" data-category="farms">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter" data-category="arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter" data-category="doms">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Doms</p>
            </div>
            <div class="filter" data-category="boats">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </div>
        
        <div class="tax-toggle mt-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" mt-3>

        <% for(let listing of allListings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">
                
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=listing.title%> </b> <br>
                        <% if (listing.price != null) { %>
                    
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        
                        <i class="tax-info">&nbsp; &nbsp; &nbsp; +18% GST</i>
                        <% } else { %>
                        Price not available
                        <% } %>
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    




    
